<h1>Editing portfolio</h1>

<%= render "form", portfolio: @portfolio %>

<br>

<div>
  <%= link_to "Show this portfolio", @portfolio %> |
  <%= link_to "Back to portfolios", portfolios_path %>
</div>
