<p style="color: green"><%= notice %></p>

<h1>Portfolios</h1>

<div id="portfolios">
  <% @portfolios.each do |portfolio| %>
    <%= render portfolio %>
    <p>
      <%= link_to "Show this portfolio", portfolio %>
    </p>
  <% end %>
</div>

<%= link_to "New portfolio", new_portfolio_path %>
